In [1]:
import pandas as pd
import numpy as np
import statistics as st
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set(rc={"figure.figsize":(11,8)})
pd.pandas.set_option("display.max_columns",None)

In [2]:
df = pd.read_excel("flight_price.xlsx")

In [3]:
data = df.copy()

In [4]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
# Extract day/month/year sapretly 
data["Date_of_Journey"] = pd.to_datetime(data["Date_of_Journey"])

In [7]:
data["Months"] = data["Date_of_Journey"].dt.month

In [8]:
data["Year"] = data["Date_of_Journey"].dt.year

In [9]:
# as we extrsct date of jurny column we no neet of this colum any more
data.drop("Date_of_Journey",axis=1,inplace=True)

In [10]:
# ## Extract day,month and year from the string
# df["Date"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
# df["Month"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
# df["Year"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

In [11]:
# ##Fetaure Engineering Process
# df['Date']=df['Date_of_Journey'].str.split('/').str[0]
# final_df['Month']=df['Date_of_Journey'].str.split('/').str[1]
# df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [12]:
# Extract hour and minuts from deptim
data["Dept_Hours"] = data["Dep_Time"].str.split(":").str[0]

In [13]:
data["Dept_Min"] = data["Dep_Time"].str.split(":").str[1]

In [14]:
data.drop("Dep_Time",axis=1,inplace=True)

In [15]:
data["Dept_Hours"] = pd.to_numeric(data["Dept_Hours"])

In [16]:
data["Dept_Min"] = pd.to_numeric(data["Dept_Min"])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Months           10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dept_Hours       10683 non-null  int64
 12  Dept_Min         10683 non-null  int64
dtypes: int64(5), object(8)
memory usage: 1.1+ MB

In [18]:
# data["Arrival_Time"].str.split(' ').str[0]
# another method of extract

In [19]:
data["Arrival_Time"] = data["Arrival_Time"].apply(lambda x:x.split(" ")[0])

In [20]:
data["Arrival_Hour"] = data["Arrival_Time"].apply(lambda x:x.split(":")[0]).astype(int)

In [21]:
data["Arrival_min"] = data["Arrival_Time"].apply(lambda x:x.split(":")[1]).astype(int)

In [22]:
data.drop("Arrival_Time",axis=1,inplace=True)

In [23]:
data["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [24]:
data[data["Total_Stops"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Months,Year,Dept_Hours,Dept_Min,Arrival_Hour,Arrival_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,2019,9,45,9,25

In [25]:
st.mode(data["Total_Stops"])

'1 stop'

In [26]:
data["Total_Stops"] = data["Total_Stops"].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, 'nan':1, '4 stops':4})

In [27]:
# another method to convert 
# df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [28]:
data["Duration_hour"] = data["Duration"].str.split(" ").str[0].str.split("h").str[0]

In [29]:
data[data["Duration_hour"] == "5m"]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Months,Year,Dept_Hours,Dept_Min,Arrival_Hour,Arrival_min,Duration_hour
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2.0,No info,17327,6,2019,16,50,16,55,5m

In [30]:
data.drop(6474,axis=0,inplace=True)

In [31]:
data["Duration_min"] = data["Duration"].str.split(" ").str[1].str.split("m").str[0]

In [32]:
# fill na with 0
data["Duration_min"] = data["Duration_min"].fillna(0)

In [33]:
data.drop("Duration",axis=1,inplace=True)

In [34]:
data["Duration_hour"] = data["Duration_hour"].astype(int)

In [35]:
data["Duration_min"] = data["Duration_min"].astype(int)

In [39]:
data["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [47]:
# Target Guided ordinal encoding
data.groupby("Airline")["Price"].mean().sort_values(ascending=False)

Airline
Jet Airways Business                 58358.666667
Jet Airways                          11643.923357
Multiple carriers Premium economy    11418.846154
Multiple carriers                    10902.678094
Air India                             9606.804112
Vistara Premium economy               8962.333333
Vistara                               7796.348643
GoAir                                 5861.056701
IndiGo                                5673.682903
Air Asia                              5590.260188
SpiceJet                              4338.284841
Trujet                                4140.000000
Name: Price, dtype: float64

In [48]:
# onehot encoding
from sklearn.preprocessing import OneHotEncoder

In [49]:
one = OneHotEncoder()

In [52]:
one.fit_transform(data[["Airline"]]).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [ ]:
# ## Replacing target guided ordinal encoding
# def replace_airline_with_mean(df):
#     mean_prices = df.groupby('Airline')['Price'].mean().sort_values()
#     df['Airline'] = df['Airline'].apply(lambda x: mean_prices[x])
#     return df

# df = replace_airline_with_mean(df)
# df.head()

In [54]:
pd.DataFrame(one.fit_transform(data[["Airline"]]).toarray(),columns= one.get_feature_names())

,x0_Air Asia,x0_Air India,x0_GoAir,x0_IndiGo,x0_Jet Airways,x0_Jet Airways Business,x0_Multiple carriers,x0_Multiple carriers Premium economy,x0_SpiceJet,x0_Trujet,x0_Vistara,x0_Vistara Premium economy
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10677,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10678,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10681,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
one.transform([["Jet Airways"]]).toarray()

array([[0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]])